<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://cdn.itools.hk/467067151_813424402_2.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://img.itools.hk/app/icon/71/88/467067151-114.jpg</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://img.itools.hk/app/icon/71/88/467067151-114.jpg</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.renren-inc.nuomi</string>
                <key>bundle-version</key>
                <string>5.13.2</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>百度糯米</string>
                <key>title</key>
                <string>百度糯米</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>